@import "@/styles/mixins.scss";

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 56px;
  padding: 12px;
  color: #ffcc8f;
  background-color: #252525;
  border-radius: 9px;

  &::before {
    content: "";
    width: 23px;
    height: 16px;
    margin-right: 11px;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='16' viewBox='0 0 23 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5 15.9994C12.2667 15.9994 10.375 15.2244 8.825 13.6744C7.275 12.1244 6.5 10.2327 6.5 7.9994C6.5 5.78274 7.275 3.89524 8.825 2.33691C10.375 0.778572 12.2667 -0.000595093 14.5 -0.000595093C16.7167 -0.000595093 18.6042 0.778572 20.1625 2.33691C21.7208 3.89524 22.5 5.78274 22.5 7.9994C22.5 10.2327 21.7208 12.1244 20.1625 13.6744C18.6042 15.2244 16.7167 15.9994 14.5 15.9994ZM14.5 13.9994C16.1667 13.9994 17.5833 13.4161 18.75 12.2494C19.9167 11.0827 20.5 9.66607 20.5 7.9994C20.5 6.33274 19.9167 4.91607 18.75 3.7494C17.5833 2.58274 16.1667 1.9994 14.5 1.9994C12.8333 1.9994 11.4167 2.58274 10.25 3.7494C9.08333 4.91607 8.5 6.33274 8.5 7.9994C8.5 9.66607 9.08333 11.0827 10.25 12.2494C11.4167 13.4161 12.8333 13.9994 14.5 13.9994ZM15.5 7.5994V4.9994C15.5 4.71607 15.4042 4.47857 15.2125 4.2869C15.0208 4.09524 14.7833 3.9994 14.5 3.9994C14.2167 3.9994 13.9792 4.09524 13.7875 4.2869C13.5958 4.47857 13.5 4.71607 13.5 4.9994V8.02441C13.5 8.15774 13.5292 8.28691 13.5875 8.41191C13.6458 8.53691 13.7167 8.64107 13.8 8.72441L16.075 10.9994C16.275 11.1994 16.5125 11.2994 16.7875 11.2994C17.0625 11.2994 17.3 11.1994 17.5 10.9994C17.7 10.7994 17.8 10.5619 17.8 10.2869C17.8 10.0119 17.7 9.7744 17.5 9.5744L15.5 7.5994ZM2.5 4.9994C2.21667 4.9994 1.97917 4.90357 1.7875 4.71191C1.59583 4.52024 1.5 4.28274 1.5 3.9994C1.5 3.71607 1.59583 3.47857 1.7875 3.28691C1.97917 3.09524 2.21667 2.9994 2.5 2.9994H4.5C4.78333 2.9994 5.02083 3.09524 5.2125 3.28691C5.40417 3.47857 5.5 3.71607 5.5 3.9994C5.5 4.28274 5.40417 4.52024 5.2125 4.71191C5.02083 4.90357 4.78333 4.9994 4.5 4.9994H2.5ZM1.5 8.9994C1.21667 8.9994 0.979167 8.90357 0.7875 8.71191C0.595833 8.52024 0.5 8.28274 0.5 7.9994C0.5 7.71607 0.595833 7.47857 0.7875 7.2869C0.979167 7.09524 1.21667 6.9994 1.5 6.9994H4.5C4.78333 6.9994 5.02083 7.09524 5.2125 7.2869C5.40417 7.47857 5.5 7.71607 5.5 7.9994C5.5 8.28274 5.40417 8.52024 5.2125 8.71191C5.02083 8.90357 4.78333 8.9994 4.5 8.9994H1.5ZM2.5 12.9994C2.21667 12.9994 1.97917 12.9036 1.7875 12.7119C1.59583 12.5202 1.5 12.2827 1.5 11.9994C1.5 11.7161 1.59583 11.4786 1.7875 11.2869C1.97917 11.0952 2.21667 10.9994 2.5 10.9994H4.5C4.78333 10.9994 5.02083 11.0952 5.2125 11.2869C5.40417 11.4786 5.5 11.7161 5.5 11.9994C5.5 12.2827 5.40417 12.5202 5.2125 12.7119C5.02083 12.9036 4.78333 12.9994 4.5 12.9994H2.5Z' fill='%23FFCC8F'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: center;
  }

  @include min(391) {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0;
    padding-top: 24px;
    border-radius: 12px 12px 0 0;

    &::after {
      content: "";
      position: absolute;
      right: 29px;
      bottom: -6px;
      width: 12px;
      height: 12px;
      background-color: #252525;
      transform: rotate(45deg);
    }
  }
}
